html {
  margin: 0;
  padding: 0; }

body {
  font-family: "Raleway", sans-serif; }

section {
  height: auto;
  width: 100%;
  padding: 50px 0; }

p {
  margin: 0; }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("/static/images/background.png") 0 0/cover;
  height: 800px; }

.intro-text {
  padding-top: 350px;
  color: white;
  text-align: center; }

.intro-lead-in {
  font-size: 36px; }

.intro-heading {
  font-size: 48px; }

.more-btn {
  display: inline-block;
  color: white;
  margin-top: 100px;
  width: 200px;
  border-radius: 3px;
  border: 2px solid white;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 30px; }
  .more-btn:hover {
    color: black;
    background-color: white; }
  .more-btn:focus {
    color: white;
    background-color: transparent;
    text-decoration: none; }

.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: padding 0.5s; }

.navbar-default {
  border: none !important; }

#page-top .navbar-toggle {
  border-color: white; }
  #page-top .navbar-toggle:hover {
    background-color: transparent; }

#page-top .navbar-nav {
  margin: 0;
  padding: 0; }

.navbar-collapse {
  border: none !important; }

.navbar-brand {
  padding: 0; }
  @media screen and (max-width: 768px) {
    .navbar-brand {
      padding-left: 20px; } }

#page-top .icon-bar {
  background-color: white; }

.img-brand-collapse {
  transform: scale(0.8);
  transition: all 0.5s ease-in-out; }

.img-brand {
  transition: all 0.5s ease-in-out; }

.top-nav-collapse {
  padding: 10px 0;
  background-color: black; }

ul {
  width: 50%; }
  @media screen and (max-width: 768px) {
    ul {
      width: 100%; } }

#page-top li {
  width: 20%;
  text-align: center; }
  @media screen and (max-width: 768px) {
    #page-top li {
      width: 100%; } }
  #page-top li:nth-child(2) a:hover {
    color: red !important; }
  #page-top li:nth-child(3) a:hover {
    color: orange !important; }
  #page-top li:nth-child(4) a:hover {
    color: green !important; }
  #page-top li:nth-child(5) a:hover {
    color: #fed136 !important; }
  #page-top li:nth-child(6) a:hover {
    color: purple !important; }

#page-top a:focus {
  outline: none; }
#page-top a:hover {
  text-decoration: none; }

#page-top nav a {
  color: white;
  background-color: transparent; }

.section-title {
  text-align: center;
  padding-bottom: 10px; }

.section-subtitle {
  text-align: center;
  padding-bottom: 40px;
  line-height: 2.1; }

#about {
  background: #e8e8e8; }
  #about img {
    margin: 0 auto; }

#contact {
  height: auto; }
  #contact input {
    padding: 20px;
    height: auto; }
  #contact textarea {
    height: 236px;
    padding: 20px; }

.form-group {
  margin-bottom: 25px; }

.form-control:focus {
  border-color: #fed136; }

.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  padding: 15px 80px;
  font-size: 16px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 15px; }
  .btn-xl:hover {
    color: white; }

#services {
  padding-bottom: 0px; }
  #services div div:last-child {
    border-right: none; }

.second div {
  border-bottom: none; }
  @media screen and (max-width: 1200px) {
    .second div {
      border: none;
      border-bottom: 1px dashed #dbdbdb; }
      .second div:last-child {
        border: none; } }

.service-block {
  text-align: center;
  padding: 40px 0;
  border-width: 0 1px 1px 0;
  border-color: #dbdbdb;
  border-style: dashed; }
  .service-block img {
    margin: 0 auto;
    width: 200px;
    height: 200px; }
  .service-block figcaption {
    font-size: 24px; }
  @media screen and (max-width: 1200px) {
    .service-block {
      border: none;
      border-bottom: 1px dashed #dbdbdb; } }

.splitter {
  background: url("/static/images/splitter-medium.png") repeat-x;
  margin: 50px 0;
  height: 15px; }

.services-text p {
  line-height: 2.1;
  text-align: center; }

#reference {
  background: #e8e8e8;
  padding-bottom: 0px; }
  #reference .container {
    margin: 0;
    padding: 0;
    width: 100%; }
    #reference .container .row {
      margin: 0;
      padding: 0; }

.ref {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .ref img {
    width: 100%; }
  .ref:hover {
    transition: all 500ms ease-in-out; }
    .ref:hover .overlay {
      opacity: 1; }
    .ref:hover .view-btn {
      opacity: 1;
      bottom: 50%; }

.view-btn {
  position: absolute;
  display: block;
  margin-left: -25px;
  bottom: 25%;
  margin-bottom: -25px;
  z-index: 20;
  left: 50%;
  opacity: 0;
  transition: all 500ms ease-in-out; }
  @media screen and (max-width: 1200px) {
    .view-btn {
      opacity: 1; } }

.fa {
  height: 50px;
  width: 50px;
  line-height: 50px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: red;
  font-size: 1.3em; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  background: rgba(0, 0, 0, 0.70196);
  transition: all 500ms ease-in-out; }

.references-link {
  min-height: 54px;
  min-width: 226px;
  display: inline-block; }

.references-btn {
  display: inherit;
  color: white;
  background-color: #008C29;
  border: 1px solid #008C29;
  padding: 17px 80px;
  font-size: 16px;
  border-radius: 3px;
  text-transform: uppercase; }
  .references-btn:hover {
    color: white; }

.project-item {
  text-align: center;
  margin-bottom: 40px; }
  .project-item img {
    display: block;
    margin: 0 auto;
    height: 260px;
    width: 260px;
    border: 8px solid white; }

figcaption {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black; }

.modal-content {
  min-height: 100%; }

.close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  .close-modal .close-btn {
    height: 75px;
    width: 1px;
    background-color: #222; }
  .close-modal .lr {
    margin-left: 35px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051; }
    .close-modal .lr .rl {
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      z-index: 1052; }

#references_page {
  padding-top: 100px; }

.refs div {
  padding: 0;
  height: 250px;
  position: relative;
  display: inline-block;
  overflow: hidden; }
  .refs div:nth-child(1) .ref-item {
    background-color: #b71c1c !important; }
  .refs div:nth-child(2) .ref-item {
    background-color: #d32f2f !important; }
  .refs div:nth-child(3) .ref-item {
    background-color: #f44336 !important; }
  .refs div:nth-child(4) .ref-item {
    background-color: #e57373 !important; }
  .refs div:nth-child(5) .ref-item {
    background-color: #880E4F !important; }
  .refs div:nth-child(6) .ref-item {
    background-color: #C2185B !important; }
  .refs div:nth-child(7) .ref-item {
    background-color: #E91E63 !important; }
  .refs div:nth-child(8) .ref-item {
    background-color: #F06292 !important; }
  .refs div:nth-child(9) .ref-item {
    background-color: #4A148C !important; }
  .refs div:nth-child(10) .ref-item {
    background-color: #7B1FA2 !important; }
  .refs div:nth-child(11) .ref-item {
    background-color: #9C27B0 !important; }
  .refs div:nth-child(12) .ref-item {
    background-color: #BA68C8 !important; }
  .refs div:nth-child(13) .ref-item {
    background-color: #311B92 !important; }
  .refs div:nth-child(14) .ref-item {
    background-color: #512DA8 !important; }
  .refs div:nth-child(15) .ref-item {
    background-color: #673AB7 !important; }
  .refs div:nth-child(16) .ref-item {
    background-color: #9575CD !important; }
  .refs div:nth-child(17) .ref-item {
    background-color: #1A237E !important; }
  .refs div:nth-child(18) .ref-item {
    background-color: #303F9F !important; }
  .refs div:nth-child(19) .ref-item {
    background-color: #3F51B5 !important; }
  .refs div:nth-child(20) .ref-item {
    background-color: #7986CB !important; }
  .refs div:nth-child(21) .ref-item {
    background-color: #0D47A1 !important; }
  .refs div:nth-child(22) .ref-item {
    background-color: #1976D2 !important; }
  .refs div:nth-child(23) .ref-item {
    background-color: #2196F3 !important; }
  .refs div:nth-child(24) .ref-item {
    background-color: #64B5F6 !important; }
  .refs div:nth-child(25) .ref-item {
    background-color: #01579B !important; }
  .refs div:nth-child(26) .ref-item {
    background-color: #0288D1 !important; }
  .refs div:nth-child(27) .ref-item {
    background-color: #03A9F4 !important; }
  .refs div:nth-child(28) .ref-item {
    background-color: #4FC3F7 !important; }
  .refs div img {
    position: absolute;
    top: 50%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    border: 3px solid white;
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    min-width: 100%; }

.ref-item {
  position: absolute;
  height: 100%;
  border: 3px solid white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  opacity: 0.8;
  transition: opacity 0.8s ease; }
  .ref-item:hover {
    opacity: 0; }

footer .copyright {
  background-color: black;
  padding: 15px 0; }
  footer .copyright p {
    color: white; }
    @media screen and (max-width: 768px) {
      footer .copyright p {
        text-align: center; } }
footer .footer-strip {
  background: url("/static/images/footer-strip-bg.jpg");
  width: 100%;
  padding: 15px 0; }
  footer .footer-strip p {
    color: white;
    text-align: center;
    font-size: 30px; }
footer .footer-content {
  background: #e8e8e8;
  color: #757575;
  padding: 30px 0 40px; }
  footer .footer-content h3 {
    margin-bottom: 25px;
    color: #333; }
  footer .footer-content p {
    line-height: 2.1; }

/*# sourceMappingURL=base.css.map */
