html
  margin: 0
  padding: 0

// TODO: section is here just for test
section
  height: 500px
  width: 100%

header
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('/static/images/background.png') 0 0 / cover
  //background-size: cover
  //background-attachment: scroll
  height: 800px

.navbar
  background-color: transparent
  padding: 20px 0
  transition: padding .5s

.navbar-default
  border: none !important

#page-top .navbar-toggle
  border-color: white
  &:hover
    background-color: transparent

.navbar-collapse
  border: none !important

.navbar-brand
  padding: 0
  @media screen and (max-width: 768px)
    padding-left: 20px

#page-top .icon-bar
  background-color: white

.img-brand-collapse
  transform: scale(0.8)
  transition: all .5s ease-in-out

.img-brand
  transition: all .5s ease-in-out

.top-nav-collapse
  padding: 10px 0
  background-color: black

ul
  width: 50%
  @media screen and (max-width: 768px)
    width: 100%

#page-top li
  width: 20%
  text-align: center
  @media screen and (max-width: 768px)
    width: 100%

  // TODO: define better color schema later on
  $colors: red, orange, yellow, green, purple
  @for $i from 1 through length($colors)
    &:nth-child(#{$i+1})
      a:hover
        color: nth($colors, $i) !important

#page-top a
  color: white
  background-color: transparent

footer
  background-color: black
  padding: 15px 0
  p
    color: white
    @media screen and (max-width: 768px)
      text-align: center
