{% extends 'base.html' %}

{% load staticfiles %}

{% block navbar-links %}

    <li class="hidden">
        <a class="page-scroll" href="#page-top"></a>
    </li>
    <li>
        <a class="page-scroll text-uppercase" href="{% url 'index' %}#about">O nama</a>
    </li>
    <li>
        <a class="page-scroll text-uppercase" href="{% url 'index' %}#services">Usluge</a>
    </li>
    <li>
        <a class="page-scroll text-uppercase" href="{% url 'index' %}#contact">Kontakt</a>
    </li>
    <li>
        <a class="text-uppercase" href="{% url 'references' %}">Reference</a>
    </li>
    <li>
        <a class="text-uppercase" href="#">Blog</a>
    </li>

{% endblock navbar-links %}

{% block main_content %}

    <section id="referenc1e">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ref">
                    <img src="/static/images/img.jpg">
                    <div class="overlay"></div>
                    <a class="view-btn" href="/blog">
                        <span class="fa fa-search">
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 ref">
                    <img src="/static/images/img2.jpg">
                    <div class="overlay"></div>
                    <a class="view-btn" href="/blog">
                        <span class="fa fa-search">
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 ref">
                    <img src="/static/images/img3.jpg">
                    <div class="overlay"></div>
                    <a class="view-btn" href="/blog">
                        <span class="fa fa-search">
                        </span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ref">
                    <img src="/static/images/img.jpg">
                    <div class="overlay"></div>
                    <a class="view-btn" href="/blog">
                        <span class="fa fa-search">
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 ref">
                    <img src="/static/images/img2.jpg">
                    <div class="overlay"></div>
                    <a class="view-btn" href="/blog">
                        <span class="fa fa-search">
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 ref">
                    <img src="/static/images/img3.jpg">
                    <div class="overlay"></div>
                    <a class="view-btn" href="/blog">
                        <span class="fa fa-search">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}

{% block extra_js %}

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'library/jquery.easing.min.js' %}"></script>
    <script src="{% static 'library/scrolling-nav.js' %}"></script>

{% endblock extra_js %}